<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiltord Suleman</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/stle.css">
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <div class="logo">
                    <h1>W<span class="logo-2">iltord<span class="logo">.</span></span></h1>
                </div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="header-text">
                <p>UI/UX Designer</p>
                <h1>Hi i'am <span>WILTORD</span> from<br>Mombasa-Kenya</h1>
            </div>
        </div>
    </div>
    
    <!-- about -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="../assets/images/willy2.png" alt="">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus voluptate ea labore illum odit minima, voluptas autem ratione suscipit blanditiis aliquam consequatur? Quam ab, excepturi corporis ipsam consequuntur laboriosam molestias.</p>
                    <div class="tab-title">
                        <P class="tab-links active-link"onclick="opentab('Skills')">Skils</P>
                        <P class="tab-links"onclick="opentab('Experience')">Experience</P>
                        <P class="tab-links"onclick="opentab('Education')">Education</P>
                    </div>
                    <div class="tab-contents active-tab" id="Skills">
                        <ul>
                            <li><span>UI/UXBR</span><br>Designing Web/App interface</li>
                            <li><span>Designing Web</span><br>Web App Development</li>
                            <li><span>App interface</span><br>Building Android/IOS App</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="Experience">
                        <ul>
                            <li><span>2021-current</span><br>UI/UX Design Training at ET</li>
                            <li><span>2019-2021</span><br>Team Lead at starApp LLC,</li>
                            <li><span>2017-2019</span><br>UI/UX Desiggn Excecutive at coin Digital Ltd,\.</li>
                            <li><span>2016-2017</span><br>Intership at ekart eCommerce.</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="Education">
                        <ul>
                            <li><span>2016</span><br>Designing Web/App interface</li>
                            <li><span>2016</span><br>Web App Development</li>
                            <li><span>2014</span><br>Building Android/IOS App</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- services -->
    <div id="services">
        <div class="container">
            <h1 class="sub-title">Services</h1>
            <div class="services-list">
                <div>
                    <i class="fas fa-code"></i>
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illo fugiat alias illum molestiae dignissimos dolor saepe reprehenderit nobis consequatur?</p>
                    <a href="#">Learn More</a>
                </div>
                <div>
                    <i class="fas fa-crop-alt"></i>
                    <h2>UI/UX Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illo fugiat alias illum molestiae dignissimos dolor saepe reprehenderit nobis consequatur?</p>
                    <a href="#">Learn More</a>
                </div>
                <div>
                    <i class="fab fa-app-store"></i>
                    <h2>App Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illo fugiat alias illum molestiae dignissimos dolor saepe reprehenderit nobis consequatur?</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>

    <!-- portfolio -->
    <div id="portfolio">
        <div class="container">
            <div class="sub-title">My Work</div>
            <div class="work-list">
                <div class="work">
                    <img src="../assets/images/work1.jpg" alt="">
                    <div class="layer">
                        <h3>Social Media App</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, cumque?</p>
                        <a href="#"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="../assets/images/work1.jpg" alt="">
                    <div class="layer">
                        <h3>Social Media App</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, cumque?</p>
                        <a href="#"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="../assets/images/work1.jpg" alt="">
                    <div class="layer">
                        <h3>Social Media App</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, cumque?</p>
                        <a href="#"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");
        
        function opentab(tabName) {
            // Remove the active class from all tab links
            for (var tablink of tablinks) {
                tablink.classList.remove("active-link");
            }
            // Remove the active class from all tab contents
            for (var tabcontent of tabcontents) {
                tabcontent.classList.remove("active-tab");
            }
            // Add the active class to the selected tab link and its content
            event.currentTarget.classList.add("active-link")
            document.getElementById(tabName).classList.add("active-tab");

        }
    </script>
       


</body>
</html>